p{ 
    color:aqua;
    font-size: 18pt;
}

.teste{
    color:blueviolet;

}

#food{
    color:blue
}

a:hover{
    color:yellow;

}

body {
    background-image: url("azul.jpg")
}


#link1{
    color:blueviolet;
}